/*FONTS*/
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body, html{
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.video-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}   


video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
    .container{
        width: 100%;
        padding: 10px;
    }
}

.question-container{
    justify-content: center;
    width: 80%;
    max-width: 800px; 
    padding: 10px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid rgba(210, 150, 150, 0.5);
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6);

}

.question{
    color: #d145a2;
    margin: 0;
    padding: 10px;
    font-style: oblique;
    font-size: 20px;
}


.btn{
background-color: rgba(255, 255, 255, 0.6);
font-style: oblique;
 font-size: 15px;
 font-weight: bold;
 font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 10px 10px;
 border-radius: 5px;
 cursor: pointer;
 transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.btn-container{
    display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
}
